<div
  class="row my-2 todo-item"
  (mouseover)="isHovered = true"
  (mouseout)="isHovered = false"
  [ngClass]="{ active: isHovered }"
>
  <div class="col-9 d-flex align-items-center">
    <input type="checkbox" class="mr-2">
    <span>Todo items</span>
  </div>

  <div class="col-3 d-flex align-items-center justify-content-end">

    <i class="eva eva-edit-outline text-primary mr-2"
      [ngClass]="{ active: isHovered }"
      (click)="isEditing = true"
    ></i>

    <i class="eva eva-close text-danger"
      [ngClass]="{ active: isHovered }"
    ></i>

    <form *ngIf="isEditing">
      <input type="text" name="editTodo">
    </form>
  </div>
</div>
