.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

// Todo app
.wrapper {
  background: rgba(white, .7);
  box-shadow: 1px 1px 6px #c1c1c1;
  border-radius: 6px;
  max-width: 500px;
  margin: 2rem auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
