/* You can add global styles to this file, and also import other style files */

/**
 * Bootstrap
 */
// Core
@import "../node_modules//bootstrap/scss/bootstrap-reboot.scss";

// Grid & class CSS
@import "../node_modules//bootstrap/scss/grid";
@import "../node_modules//bootstrap/scss/utilities";

/**
 * Icon
 */

// Eva Icon
@import "../node_modules/eva-icons/style/eva-icons.css";

// /**
//  * Gener style
//  */

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

input {
  width: calc(100% - 4px - 1rem);
  padding: .3rem .5rem;
  border-radius: 6px;
  outline: none;
  &[type="checkbox"] {
    width: 1rem;
  }
}

button {
  min-width: 2.2rem;
  border-radius: 6px;
  background: #1976d2;
  padding: .3rem;
  outline: rgba(white, 0) !important;
  border-color: rgba(white, 0);
  color: white;
  transition: ease-in-out .3s;

  &:hover {
    background: darken($color: #1976d2, $amount: 10);
  }
}
